<template>
<label
  class="checkbox"
  ref="label"
  :disabled="disabled"
  @click="focus"
  @keydown.prevent.enter="$refs.label.click()"
>
  <input
    v-model="computedValue"
    :indeterminate.prop="indeterminate"
    type="checkbox"
    ref="input"
    @click.stop="onInput"
    :disabled="disabled"
    :required="required"
    :name="name"
    :value="nativeValue"
    :true-value="trueValue"
    :false-value="falseValue"
  />
  <span class="check" />
  <span v-if="htmlLabel" class="checkbox-label" v-html="htmlLabel"></span>
  <span v-else class="checkbox-label">
    <slot></slot>
  </span>
</label>
</template>

<script>
import FormInputMixin from '../../mixins/FormInputMixin'

export default {
  name: 'HCheckbox',
  mixins: [ FormInputMixin ],

  props: {
    value: [String, Number, Boolean, Object, Array],
    nativeValue: [String, Number, Boolean, Object, Array],
    disabled: Boolean,
    required: Boolean,
    name: String,
    indeterminate: Boolean,
    trueValue: {
      type: [String, Number, Boolean, Object, Array],
      default: true
    },
    falseValue: {
      type: [String, Number, Boolean, Object, Array],
      default: false
    },
    htmlLabel: String,
  },

  computed: {
    computedValue: {
      get() {
        return this.internalValue
      },
      set(value) {
        this.internalValue = value
        this.$emit('input', value)
      }
    }
  },

  watch: {
    /**
    * When v-model change, set internal value.
    */
    value(value) {
      this.internalValue = value
    }
  },

  mounted() {
    // If nothing is defined we assign the false value as default
    if (typeof this.field === 'undefined' && this.value === null) {
      this.computedValue = this.falseValue
    }
  },

  methods: {
    focus() {
      // MacOS FireFox and Safari do not focus when clicked
      this.$refs.input.focus()
    },
    onInput() {
      if (this.__form) {
        this.__form[this.field] = this.$refs.input.checked ? this.trueValue : this.falseValue
      }
    }
  }

}
</script>
