<template>
<h-field :field="field"
  :control-id="id"
  :errors="errors"
  :error-message="errorMessage"
  class="pt-2"
>
  <h-checkbox
    ref="checkbox"
    v-bind="$attrs"
    v-on="listeners"
    :field="field"
    :value="value"
    @input="onInput"
    :html-label="htmlLabel"
  >
    {{ label }}
  </h-checkbox>
</h-field>
</template>

<script>
import FormFieldMixin from '../../mixins/FormFieldMixin'

export default {
  name: 'HCheckboxField',
  mixins: [ FormFieldMixin ],

  props: {
      htmlLabel: String
  },

  methods: {
    focus() {
      this.$refs.checkbox.focus()
    }
  },
}
</script>
