<template>
<modal :open="openModal" @close="openModal = false" title="Adjuntar documento">
  <div v-if="! form.file" class="mt-6">
    <p class="mt-4 text-gray-700">Por favor, pulse en el botón para adjuntar un documento o imagen.</p>
    <div class="flex justify-center mt-6">
      <btn color="blue" icon="folder-outline" @click="$refs.file_tmp.click()">Seleccionar fichero</btn>
      <input type="file" ref="file_tmp" id="file_tmp" name="file_tmp"
        @change="onFileTmpChange($event.target.name, $event.target.files)"
        class="hidden">
    </div>
  </div>
  <div v-if="form.file" class="mt-6">
    <div class="bg-gray-200 px-4 py-2">
      <table>
        <tr class="h-8">
          <td class="pr-2">Fichero:</td>
          <td class="font-semibold">{{ form.filename }}</td>
        </tr>
        <tr class="h-8">
          <td class="pr-2">Tamaño:</td>
          <td class="font-semibold">{{ form.size }}MB</td>
        </tr>
      </table>
    </div>
    <text-input v-model="form.title"
      class="w-full mt-6"
      label="Título del documento"
      placeholder="Título del documento..." />
    <text-input textarea
      v-model="form.description"
      class="w-full mt-6"
      label="Descripción"
      placeholder="Describa el documento..." />
  </div>
  <!-- Botones -->
  <template slot="buttons">
    <btn outlined @click="cancel" class="mr-4">Cancelar</btn>
    <btn color="blue" @click="attach">Adjuntar</btn>
  </template>
</modal>
</template>

<script>
export default {
  name: 'AttachFileModal',

  data() {
    return {
      openModal: false,
      file: null,
      filename: '',
      form: {
        file: null,
        filename: '',
        size: '',
        title: '',
        description: ''
      }
    }
  },

  methods: {
    open() {
      this.initForm()
      this.openModal = true
    },
    close() {
      this.openModal = false
    },
    cancel() {
      this.initForm()
      this.close()
    },
    attach() {
      this.$emit('file', this.form)
      this.close()
    },
    onFileTmpChange(filename, files) {
      if (files.length > 0) {
        this.form.file = files[0]
        this.form.filename = this.form.file.name
        this.form.size = Math.round(this.form.file.size / 1024 / 1024 * 100) / 100
      } else {
        this.form.file = null
        this.form.filename = ''
        this.form.size = ''
      }
      this.form.title = this.form.filename
      this.form.description = ''
    },
    initForm() {
      this.form = {
        file: null,
        filename: '',
        size: '',
        title: '',
        description: ''
      }
    },
  },

};
</script>
