<template>
<h-modal ref="modal" :open="openModal" @close="cancel" :title="options.title">
  <div class="w-full h-full">
    <div v-if="options.message" v-html="options.message"></div>
    <slot v-else></slot>
  </div>
  <template slot="buttons">
    <h-button v-if="options.yesBtn.show"
      @click="yesClicked"
      :color="options.yesBtn.color"
      class="mr-2">
      {{ options.yesBtn.text }}
    </h-button>
    <h-button v-if="options.noBtn.show"
      @click="noClicked"
      :color="options.noBtn.color"
      class="ml-2">
      {{ options.noBtn.text }}
    </h-button>
    <h-button v-if="options.cancelBtn.show"
      @click="cancel"
      :color="options.cancelBtn.color"
      class="ml-2">
      {{ options.cancelBtn.text }}
    </h-button>
  </template>
</h-modal>
</template>

<script>
import { merge } from '../../utils/helpers'
// import HModal from './Modal'

export default {
  name: 'HConfirmModal',

  // components: { HModal },

  props: {
    config: Object,
    autoDestroy: { type: Boolean, default: false }
  },

  data() {
    return {
      openModal: false,
      options: {},
    }
  },

  created() {
    const defaults = {
      title: 'Por favor, confime',
      yesBtn: {
        show: true,
        color: 'green',
        text: 'Sí'
      },
      noBtn: {
        show: true,
        color: 'outlined',
        text: 'No'
      },
      cancelBtn: {
        show: false,
        color: 'outlined',
        text: 'Cancelar'
      },
      yesCallback: null,
      noCallback: null,
      cancelCallback: null,
    }
    this.options = merge(defaults, this.config)
  },

  destroyed() {
    this.$el.parentNode.removeChild(this.$el)
  },

  methods: {
    show() {
      this.openModal = true
    },
    cancel() {
      if (! this.openModal) {
        return
      }
      if (this.options.cancelCallback) {
        this.options.cancelCallback()
      } else {
        this.$emit('confirmModal-canceled')
      }
      this.close()
    },
    yesClicked() {
      if (this.options.yesCallback) {
        this.options.yesCallback()
      } else {
        this.$emit('confirmModal-yes-clicked')
      }
      this.close()
    },
    noClicked() {
      if (this.options.noCallback) {
        this.options.noCallback()
      } else {
        this.$emit('confirmModal-no-clicked')
      }
      this.close()
    },
    close() {
      this.$refs.modal.close()
      if (this.autoDestroy) {
        this.$destroy()
      }
    }
  },

};
</script>
