<template>
<div v-if="showModal" class="fixed inset-0 z-40 flex items-center justify-center">
  <transition
    @before-leave="backdropLeaving = true"
    @after-leave="backdropLeaving = false"
    enter-active-class="transition-all transition-fast ease-out-quad"
    leave-active-class="transition-all transition-medium ease-in-quad"
    enter-class="opacity-0"
    enter-to-class="opacity-100"
    leave-class="opacity-100"
    leave-to-class="opacity-0"
    appear
  >
    <div v-if="showBackdrop">
      <div class="absolute inset-0 bg-black opacity-50" @click="closeOutside"></div>
    </div>
  </transition>

  <transition
    @before-leave="cardLeaving = true"
    @after-leave="cardLeaving = false"
    enter-active-class="transition-all transition-fast ease-out-quad"
    leave-active-class="transition-all transition-medium ease-in-quad"
    enter-class="opacity-0 scale-70"
    enter-to-class="opacity-100 scale-100"
    leave-class="opacity-100 scale-100"
    leave-to-class="opacity-0 scale-70"
    appear
  >
    <div v-if="showContent" class="relative mx-auto" :class="modalWidth">
      <div class="container bg-white rounded-lg shadow px-6 py-6">
        <!-- Header -->
        <div v-if="!hasHeaderSlot" class="flex items-center justify-between pb-4">
          <h2 class="font-ba-500 text-gray-600 text-2xl leading-tight">{{ title }}</h2>
          <h-icon name="close" @click="cancel" color="gray-500"/>
        </div>
        <slot name="header"></slot>
        <!-- Main content -->
        <slot></slot>
        <!-- Footer / Buttons -->
        <div v-if="!hasFooterSlot" class="mt-6 flex justify-end items-center">
          <slot name="buttons"></slot>
        </div>
        <slot name="footer"></slot>
      </div>
    </div>
  </transition>
</div>
</template>

<script>
import KeypressMixin from '../../mixins/ComponentKeypressMixin'

export default {
  name: 'HModal',
  mixins: [ KeypressMixin ],

  props: {
    open: Boolean,
    closeAtClickOutside: { type: Boolean, default: true },
    width: { type: String, default: null },
    title: String,
  },

  data() {
    return {
      showModal: false,
      showBackdrop: false,
      showContent: false,
      backdropLeaving: false,
      cardLeaving: false,
    }
  },

  computed: {
    leaving() {
      return this.backdropLeaving || this.cardLeaving
    },
    modalWidth() {
      if (this.width) {
        return 'w-' + this.width
      }
      return ''
    },
    hasHeaderSlot() {
      return !!this.$slots['header']
    },
    hasFooterSlot() {
      return !!this.$slots['footer']
    },
  },

  watch: {
    open: {
      handler: function (newValue) {
        if (newValue) {
          this.show()
        } else {
          this.close()
        }
      },
      immediate: true
    },
    leaving(newValue) {
      if (newValue === false) {
        this.showModal = false
        this.$emit('close')
      }
    }
  },

  // created() {
  //   const onEscape = (e) => {
  //     if (this.open && e.keyCode === 27) {
  //       this.close()
  //     }
  //   }
  //   document.addEventListener('keydown', onEscape)
  //   this.$once('hook:destroyed', () => {
  //     document.removeEventListener('keydown', onEscape)
  //   })
  // },

  beforeMount() {
    // Insert the Modal component in body tag
    // only if it's programmatic
    this.programmatic && document.body.appendChild(this.$el)
  },

  methods: {
    show() {
      this.showModal = true
      this.showBackdrop = true
      this.showContent = true
    },
    // Cuando se hace click en la parte de fuera del modal
    closeOutside() {
      if (this.closeAtClickOutside) {
        this.close()
      }
    },
    handleKeydown(e) {
      if (this.open && e.keyCode === 27) {
        this.close()
      }
    },
    cancel() {
      this.$emit('cancel')
      this.close()
    },
    close() {
      this.showBackdrop = false
      this.showContent = false
    }
  }

};
</script>
