<template>
<div v-tooltip="ttConfig"
  class="absolute inset-0 opacity-0">
</div>
</template>

<script>
export default {
  name: 'TooltipWrapper',

  data() {
    return {
      ttConfig: {}
    }
  },

}
</script>
