<template>
<h-field :field="field"
  :control-id="id"
  :errors="errors"
  :error-message="errorMessage"
  class="pt-2"
>
  <h-switch
    ref="switch"
    v-bind="$attrs"
    v-on="listeners"
    :field="field"
    :value="value"
    @input="onInput"
  >
    {{ label }}
  </h-switch>
</h-field>
</template>

<script>
import FormFieldMixin from '../../mixins/FormFieldMixin'

export default {
  name: 'HSwitchField',
  mixins: [ FormFieldMixin ],

  methods: {
    focus() {
      this.$refs.switch.focus()
    }
  },
}
</script>
