<template>
<div>
  <h1 class="mb-8 font-bold text-3xl">{{ _htitle }}</h1>
  <div class="mb-6 flex items-center"
    :class="{
      'justify-between': _hayai.actions.search,
      'justify-end': ! _hayai.actions.filter
    }"
  >
    <search v-if="_hayai.actions.search"
      v-model="form.search"
      @reset="onReset"
      :show-filter="_hayai.actions.filter"
      class="w-full max-w-sm mr-4"
    >
      <select-input v-if="_hayai.actions.filter"
        v-model="form.trashed"
        :options="[{name: 'CON borrados', id: 'with'}, {name: 'SOLO borrados', id: 'only'}]"
        label="Borrados"
        :searcheable="false"
        placeholder="Incluir borrados..." />
    </search>
    <h-button v-if="_hayai.actions.create"
      @click="doOpenModal()"
    >
      <span>Nuev{{ _hayai.titles.resourceIsFemale ? 'a' : 'o' }}</span>
      <span class="hidden ml-1 md:inline">{{ _hayai.titles.resource.toLowerCase() }}</span>
    </h-button>
  </div>
  <div class="bg-white rounded shadow overflow-x-auto">
    <table class="w-full border-collapse table-auto">
      <!-- HEADER -->
      <thead>
        <tr class="text-left font-sans-semibold bg-brand-200">
          <th v-for="(column, idx) in _hayai.fields"
            :key="idx"
            class="px-2 py-4"
            :class="column.headerClass"
          >
            <div class="flex items-center"
              :class="thClass(column)"
              @click="sort(column)"
            >
              {{ column.label }}
              <h-icon v-if="column.sortable"
                :name="orderIconName(column)"
                class="ml-1 w-4 h-4 text-gray-600"/>
            </div>
          </th>
          <th></th>
        </tr>
      </thead>
      <!-- BODY -->
      <tbody>
        <!-- ROW -->
        <tr v-for="(row, rowIdx) in _rows"
          :key="row.id"
          class="hover:bg-gray-100 focus-within:bg-gray-100"
          :class="{'cursor-pointer': _hayai.actions.edit}"
        >
          <!-- BODY COLUMNS -->
          <td v-for="(column, idx) in _hayai.fields"
            :key="idx"
            class="px-2 py-4 border-t"
            @click="doOpenModal(rowIdx, row)"
          >
            <!-- Boolean -->
            <boolean-field v-if="column.component === 'checkbox'"
              :checked="row[column.field]"
            />
            <!-- Others -->
            <div v-else
              class="flex items-center"
              :class="columnClass(column)"
            >
              {{ row[column.field] }}
            </div>
          </td>
          <!-- ACTIONS COLUMN -->
          <td class="pl-8 pr-4 py-4 border-t w-16">
            <div class="w-full flex items-center justify-center">
              <!-- EDIT BUTTON -->
              <button v-if="_hayai.actions.edit"
                @click="doOpenModal(rowIdx, row)"
              >
                <h-icon name="edit-pencil" class="w-4 h-4 text-gray-600 hover:text-gray-800" />
              </button>
              <!-- DELETE BUTTON -->
              <button v-if="_hayai.actions.delete"
                :class="showDeleteButton(row) ? [] : ['opacity-0', 'cursor-default']"
                :disabled="! showDeleteButton(row)"
                @click="doDelete(rowIdx, row)" class="ml-2"
              >
                <h-icon name="trash" class="w-4 h-4 text-red-500 hover:text-red-700" />
              </button>
            </div>
          </td>
        </tr>
        <tr v-if="_rows.length === 0">
          <td class="border-t px-6 py-12 text-center text-gray-600 text-lg"
            :colspan="_hayai.fields.length+1">
            <em>No se han encontrado <strong>{{ _hayai.titles.resourcePlural.toLowerCase() }}</strong>.</em>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Pagination -->
  <pagination :links="_hayai.paginationLinks" />
  <!-- MODAL: crear/editar -->
  <h-modal v-if="! _hayai.customModalForEdition"
    :open="openModal"
    @close="closeModal"
    :title="_modalTitle"
    width="1/3"
  >
    <!-- Campos -->
    <template v-for="(column, idx) in _hayai.editFields">
      <template v-if="column.editable">
        <h-input-field v-if="column.component.startsWith('text') || column.component === 'password'"
          :key="column.field"
          v-model="editingInstance[column.field]"
          :label="column.label"
          :type="column.component"
          :autofocus="idx === 0"
          :errors="$page.errors[column.field]"
          class="w-full"
        />
        <h-checkbox-field v-else-if="column.component === 'checkbox'" :key="column.field"
          v-model="editingInstance[column.field]"
          :label="column.label"
          :autofocus="idx === 0"
          :errors="$page.errors[column.field]"
        />
        <h-switch-field v-else-if="column.component === 'switch'" :key="column.field"
          v-model="editingInstance[column.field]"
          :label="column.label"
          :autofocus="idx === 0"
          :errors="$page.errors[column.field]"
        />
      </template>
    </template>
    <!-- Buttons -->
    <h-button slot="buttons" @click="modalSubmit" :loading="loading">
      {{ editingIdx !== null ? 'Guardar cambios' : 'Añadir ' + _hayai.titles.resource.toLowerCase() }}
    </h-button>
  </h-modal>
  <div v-else ref="customModal"></div>
</div>
</template>

<script>
import Vue from 'vue'
import KeypressMixin from '../mixins/ComponentKeypressMixin'
import HModal from '../components/modal/Modal'
import Search from './components/Search'
import Pagination from './components/Pagination'
import BooleanField from './components/BooleanField'
import CustomModalMixin from './mixins/CustomModalMixin'

export default {
  name: 'ResourceIndex',

  layout(h, page) {
    // El layout tiene que estar registrado, si no no ccargará nada
    return h(Hayai._layouts[page.data.props._hayai.layout], [page])
  },

  metaInfo() {
    return {
      title: this._pageTitle
    }
  },

  mixins: [ Hayai.mixins.page, KeypressMixin ],
  components: { HModal, Search, Pagination, BooleanField },

  props: {
    _hayai: Object,
  },

  data() {
    return {
      hayai: null,
      _rows: null,
      form: {
        search: this._hayai.filters.search,
        sort: this._hayai.filters.sort,
        trashed: this._hayai.filters.trashed,
      },
      openModal: false,
      editingIdx: null,
      editingInstance: {},
      loading: false,
      customModal: null,
    }
  },

  computed: {
    _pageTitle() {
      if (this._hayai.titles.page) {
        return this._hayai.titles.page
      }

      return this._htitle
    },
    _htitle() {
      if (this._hayai.titles.header) {
        return this._hayai.titles.header
      }

      return this._hayai.titles.resourcePlural
    },
    _storeRouteName() {
      return this._hayai.route + '.store'
    },
    _updateRouteName() {
      return this._hayai.route + '.update'
    },
    _deleteRouteName() {
      return this._hayai.route + '.delete'
    },
    _modalTitle() {
      var title = ''
      if (this.editingIdx !== null) {
        title = 'Actualizar'
      } else {
        title = 'Añadir nuev' +
          (this._hayai.titles.resourceIsFemale ? 'a' : 'o')
      }
      return title + ' ' + this._hayai.titles.resource.toLowerCase()
    },
  },

  watch: {
    form: {
      handler: _.throttle(function() {
        // Renombro la query a parámetros cortos 's' y 'q'
        let query = Hayai.functions.renameProperty(_.pickBy(this.form), 'sort', 's')
        Hayai.functions.renameProperty(query, 'search', 'q')
        this.$inertia.replace(
          this.route(
            this._hayai.route,
            Object.keys(query).length ? query : { remember: 'forget' }
          )
        )
      }, 150),
      deep: true,
    },
    '_hayai.rows': {
      handler: function(newRows) {
        this._rows = newRows
      },
      deep: true,
      immediate: true
    },
  },

  mounted() {
    // Mount custom modal if it is needed
    if (this._hayai.customModalForEdition) {
      // The registered Custom Modal
      var modalComponent = Hayai.components[this._hayai.customModalForEdition]
      // Get the component constructor
      let constructor = Vue.extend(modalComponent)
      // Create the component instance
      let modalInstance = new constructor({
        // Pass this component data as 'parent' prop (reactive)
        propsData: {
          parent: this._data,
        },
        // Inject the CustomModalMixin in the Custom Modal
        mixins: [...modalComponent.mixins || [], CustomModalMixin]
      })
      // Mount it
      modalInstance.$mount()
      // Add component to DOM
      this.$refs.customModal.appendChild(modalInstance.$el)
    }
  },

  methods: {
    showDeleteButton(row) {
      return this._hayai.actions.delete && (row._canBeDeleted === true)
    },

    // Handle the keyboard event
    handleKeydown(e) {
      // Without modifier keys...
      if (! e.ctrlKey && ! e.altKey && ! e.metaKey && ! e.shiftKey) {
        // Not in an Input or Textarea
        if (e.target.tagName != 'INPUT' && e.target.tagName != 'TEXTAREA') {
          // `c` -> create
          if (e.keyCode == 67) {
            e.preventDefault()
            this.doOpenModal()
          }
        }
      }
    },

    // SEARCH
    onReset() {
      this.form = _.mapValues(this.form, () => null)
    },

    // SORT
    sort(column) {
      if (! column.sortable) {
        return
      }

      let order = this.isColumnSorted(column)
      if (order) {
        return this.form.sort = column.field + '|' +
          ((order === 'asc') ? 'desc' : 'asc')
      }
      this.form.sort = column.field + '|asc'
    },
    orderIconName(column) {
      let order = this.isColumnSorted(column)
      if (order) {
        return order === 'asc' ? 'chevron-down' : 'chevron-up'
      }
      return 'code'
    },
    isColumnSorted(column) {
      if (this.form.sort) {
        let parts = this.form.sort.split('|')
        if (parts.length === 2) {
          if (parts[0] === column.field) {
            return parts[1]
          }
        }
      }
    },

    // CLASSES
    thClass(column) {
      var c = [ this.justifyClass(column.align) ]
      if (column.sortable) {
        c.push('cursor-pointer')
      }
      return c
    },
    columnClass(column) {
      var c = [ this.justifyClass(column.align) ]
      if (column.columnClass) {
        c.push(column.columnClass)
      }
      return c
    },
    justifyClass(align) {
      if (align) {
        if (align === 'left') {
          return 'justify-start'
        } else if (align === 'right') {
          return 'justify-end'
        } else {
          // Center, Between...
          return 'justify-' + align
        }
      }
    },

    // MODAL
    doOpenModal(idx, instance) {
      if (! this._hayai.actions.edit) {
        return
      }
      this.resetEditingInstance(idx, instance)
      this.openModal = true
    },

    closeModal() {
      this.openModal = false
    },

    modalSubmit() {
      this.loading = true
      let method = this.editingIdx !== null ? 'put' : 'post'
      let url = (this.editingIdx !== null ?
        this.route(this._updateRouteName, this.editingInstance.id) :
        this.route(this._storeRouteName)) +
        '?' + window.location.search.substring(1) // Pego lo que ya estaba en la url para preservar paginación, orden, etc.
      this.$http({
        'method': method,
        'url': url,
        'data': this.editingInstance
      }).then(response => {
        if (response) {
          if (response.data && response.data.success) {
            this.$success(response.data.message)
            // console.log(response.data)
            if (response.data.rows) {
              this._rows = response.data.rows
            }
          } else {
            this.$error(response.data.message)
          }
          this.closeModal()
        }
        this.loading = false
      })
    },

    resetEditingInstance(idx, instance) {
      this.$page.errors = []
      if (! isNaN(idx)) {
        this.editingIdx = idx
        this.editingInstance = _.clone(instance)
      } else {
        this.editingIdx = null
        this.editingInstance = {}
        this._hayai.fields.forEach((column) => {
          if (column.editable) {
            this.editingInstance[column.field] = null
          }
        })
      }
    },

    // DELETE
    doDelete(idx, instance) {
      let isFemale = this._hayai.titles.resourceIsFemale

      let msg = 'Por favor, confirme que desea eliminar ' +
        (isFemale ? 'la' : 'el') + ' <strong>' +
        this._hayai.titles.resource.toLowerCase() + '</strong> seleccionad' +
        (isFemale ? 'a' : 'o') + '.<br/></br>'+
        '<div class="ml-8">' +
        this._hayai.titles.resource+': <strong>' + instance.id + ' - ' +
        instance[this._hayai.nameColumn] + '</strong>'+
        '</div>'

      // Show confirmation modal
      Hayai.modal.confirm(msg, {
        yesBtn: {
          show: true,
          color: 'red',
          textColor: 'white',
          text: 'Sí, quiero eliminarl' + (isFemale ? 'a' : 'o')
        },
        noBtn: {
          show: true,
          color: 'outlined',
          text: '¡No!'
        },
        yesCallback: () => {
          this.$http.delete(this.route(this._deleteRouteName, instance.id))
            .then(response => {
              if (response) {
                if (response.data && response.data.success) {
                  this.$success(response.data.message)
                  this.$delete(this._rows, idx)
                  // DM: No sé por qué pero he tenido que forzar aquí el update
                  // de la página porque la tabla no se actualizaba al quitar la
                  // fila
                  this.$forceUpdate()
                } else {
                  this.$error(response.data.message)
                }
              }
            })
        }
      })
    },
  },

};
</script>
