.button {
  @apply flex items-center relative
    shadow border
    duration-300 ease-in-out
    whitespace-no-wrap overflow-hidden;
  padding-left: var(--buttons-x-padding);
  padding-right: var(--buttons-x-padding);
  padding-top: var(--buttons-y-padding);
  padding-bottom: var(--buttons-y-padding);
  border-radius: var(--buttons-rounded);
  font-family: var(--buttons-font-family);
  font-weight: var(--buttons-font-weight);
  &:focus {
    @apply outline-none shadow-outline;
  }
  &:disabled {
    @apply opacity-25 cursor-not-allowed;
  }
}

.button-small {
  @apply text-sm;
  padding-left: var(--buttons-x-padding-small);
  padding-right: var(--buttons-x-padding-small);
  padding-top: var(--buttons-y-padding-small);
  padding-bottom: var(--buttons-y-padding-small);
}

/**
* Esto genera automáticamente cada varidedad de color de botón
* especificada en la variable --buttons-generate-colors
*/
@each $key in var(--buttons-generate-colors) {
.button-$key {
  background-color: var(--button-$(key)-bg-color);
  color: var(--button-$(key)-text-color);
  &:hover:enabled, &:focus:enabled {
    background-color: var(--button-$(key)-hover-color);
  }
}
}
