.checkbox {
 @apply mr-2 outline-none inline-flex items-center select-none cursor-pointer relative text-gray-800;
}

.checkbox:hover {
  @apply text-gray-900;
}

.checkbox input[type="checkbox"] {
  z-index: -1;
  @apply absolute left-0 outline-none opacity-0 cursor-pointer;
}

.checkbox input[type="checkbox"] + .check {
  @apply w-6 h-6 flex-shrink-0 rounded border transition duration-150 ease-out bg-transparent;
}

.has-error .checkbox input[type="checkbox"] + .check {
  @apply border-red-500;
}

.checkbox input[type="checkbox"]:checked + .check {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-2 -2 24 24'%3E%3Cpath d='M0 11l2-2 5 5L18 3l2 2L7 18z' fill='%23fff'/%3E%3C/svg%3E") no-repeat 100%;
  @apply bg-brand-500 border-brand-400;
}

.checkbox:hover input[type="checkbox"] + .check {
  @apply border-brand-400;
}

.checkbox .checkbox-label {
  @apply ml-2;
}
