.input,
.textarea {
  @apply px-2 py-1 leading-normal block w-full
    border border-gray-300
    text-gray-900 bg-white font-sans
    rounded text-left appearance-none relative;

  &:focus,
  &.focus {
    @apply border-brand-300 shadow-brand;
  }

  &::placeholder {
    @apply text-gray-600 opacity-75 italic;
  }

  &:disabled {
    @apply bg-gray-100 text-gray-600 italic cursor-not-allowed;
  }
}

.border-transparent .input {
  @apply border-transparent;

  &:focus {
    @apply shadow-none;
  }
}

.has-error .input {
  @apply text-red-500 mt-2 text-sm;
}

.has-error .input,
.has-error .textarea {
  @apply border-red-500;

  &:focus {
    box-shadow: 0 0 0 1px theme('colors.red.500');
  }
}