.pagination {
  @apply mt-6 flex flex-wrap;
}

.pagination .pagination-button {
  @apply mr-1 w-12 h-10 text-center flex items-center justify-center shadow
     border border-gray-400 rounded text-gray-600;

  $:hover,
  $:.hover {
    @apply bg-white;
  }
}

.pagination .pagination-button:hover:not(.disabled) {
  @apply bg-white;
}

.pagination .pagination-button.disabled {
  @apply border-gray-300 text-gray-400;
}

.pagination .pagination-button.active {
  @apply text-brand-500 font-bold bg-white border-brand-400;
}