.spinner,
.spinner:after {
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
}

.spinner {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: .2em solid theme('colors.gray.100');
  border-right: .2em solid theme('colors.gray.100');
  border-bottom: .2em solid theme('colors.gray.100');
  border-left: .2em solid transparent;
  transform: translateZ(0);
  animation: spinning 1s infinite linear;
}

@keyframes spinning {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

.spinner.green {
  border-top-color: theme('colors.green.600');
  border-right-color: theme('colors.green.600');
  border-bottom-color: theme('colors.green.600');
}
.spinner.blue {
  border-top-color: theme('colors.blue.600');
  border-right-color: theme('colors.blue.600');
  border-bottom-color: theme('colors.blue.600');
}
.spinner.red {
  border-top-color: theme('colors.red.600');
  border-right-color: theme('colors.red.600');
  border-bottom-color: theme('colors.red.600');
}
