.switch {
 @apply mr-2 outline-none inline-flex items-center select-none cursor-pointer relative text-gray-800;
}

.switch:hover {
  @apply text-gray-900;
}

.switch input[type="checkbox"] {
  z-index: -1;
  @apply absolute left-0 outline-none opacity-0 cursor-pointer;
}

.switch input[type="checkbox"] + .check::before {
  @apply block rounded-full w-5 h-5 bg-gray-100 transition-transform duration-150 ease-out origin-left;
  content: "";
  will-change: transform;
  box-shadow: 0 3px 1px 0 rgba(0,0,0,.05),0 2px 2px 0 rgba(0,0,0,.1),0 3px 3px 0 rgba(0,0,0,.05);
}

.switch input[type="checkbox"] + .check {
  width: 2.95rem;
  height: 1.7rem;
  padding: 0.2rem;
  @apply flex items-center flex-shrink-0 bg-gray-500 rounded-full border transition duration-150 ease-out;
}

.switch input[type="checkbox"]:checked + .check::before {
  /* @apply translate-y-full; */
  transform: translate3d(100%,0,0);
}

.switch input[type="checkbox"]:checked + .check {
  @apply border-brand-400 bg-brand-500;
}

.switch:hover input[type="checkbox"] + .check {
  @apply shadow-md;
}

.switch .switch-label {
  @apply ml-2;
}
