.tooltip {
  @apply z-40 block
}

.tooltip[aria-hidden='true'] {
  @apply invisible opacity-0 transition-opacity duration-150
}
.tooltip[aria-hidden='false'] {
  @apply visible opacity-100 transition-opacity duration-150
}

.tooltip .tooltip-inner {
  @apply py-2 px-4 shadow leading-tight text-sm;
  border-width: var(--tooltip-border);
  border-color: var(--tooltip-border-color);
  border-radius: var(--tooltip-rounded);
  background-color: var(--tooltip-bg-color);
  color: var(--tooltip-text-color);
}
.tooltip .tooltip-arrow {
  @apply w-0 h-0 absolute z-10;
  border-color: var(--tooltip-border-color);
  margin: 5px;
}

/**
* Esto genera automáticamente cada varidedad de color del tooltip
* especificada en la variable --tooltips-generate-colors
*/
@each $key in var(--tooltips-generate-colors) {
.tooltip.$key .tooltip-inner {
  border-color: var(--tooltip-$(key)-border-color);
  background-color: var(--tooltip-$(key)-bg-color);
  color: var(--tooltip-$(key)-text-color);
}
.tooltip.$key .tooltip-arrow {
  border-color: var(--tooltip-$(key)-border-color);
}
}

.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}
.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -5px;
  left: calc(50% - 5px);
  @apply my-0
}

.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}
.tooltip[x-placement^="bottom"] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -5px;
  left: calc(50% - 5px);
  @apply my-0
}

.tooltip[x-placement^="right"] {
  margin-left: 5px;
}
.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  top: calc(50% - 5px);
  @apply mx-0
}

.tooltip[x-placement^="left"] {
  margin-right: 5px;
}
.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -5px;
  top: calc(50% - 5px);
  @apply mx-0
}

/**
* POPOVER
*/
.tooltip.popover .popover-inner {
  @apply bg-gray-700 text-gray-100 p-4 rounded shadow-md border-none
}
.tooltip.popover .popover-arrow {
  @apply border-gray-700
}
.tooltip.popover.white .popover-inner {
  @apply bg-white text-gray-700
}
.tooltip.popover.white .popover-arrow {
  @apply border-gray-100
}
