<template>
<div class="field" :class="{'has-error': hasErrors}">
  <label v-if="label" :for="controlId" class="label" v-html="label"></label>
  <!-- Componente -->
  <slot></slot>
  <!-- Errores -->
  <div v-if="hasErrors" class="leading-normal text-red-500 font-semibold pl-1">
    {{ errorMessage ? errorMessage : (errors.length > 0 ? errors[0] : formErrors[0]) }}
  </div>
</div>
</template>

<script>
export default {
  name: 'HField',

  props: {
    controlId: String,
    label: String,
    field: String,
    errors: { type: Array, default: () => [] },
    errorMessage: String,
  },

  data() {
    return {
      formErrors: null,
    }
  },

  computed: {
    hasErrors() {
      return this.formErrors || (this.errors.length > 0)
    },
  },

  watch: {
    '$page.errors': {
      handler: function(newData) {
        if (_.has(newData, this.field)) {
          this.formErrors = newData[this.field]
        } else {
          this.formErrors = null
        }
      },
      immediate: true,
      deep: true
    },
  },

};
</script>
