<template>
<button :disabled="disabled || loading"
  class="button"
  :class="buttonClasses"
  @click="onClick"
>
  <h-icon v-if="icon && ! loading" :name="icon"
    :size="iconSize"
    class="mr-2"
  />
  <div v-if="loading"
    :class="buttonClasses"
    class="absolute inset-0 flex items-center justify-center">
    <div class="spinner"></div>
  </div>
  <slot></slot>
</button>
</template>

<script>
import HasTooltip from '../tooltip/HasTooltip'

export default {
  name: 'HButton',

  mixins: [ HasTooltip ],

  props: {
    color: { type: String, default: 'brand' },
    loading: { type: Boolean, default: false },
    disabled: { type: Boolean, default: false },
    icon: String,
    routeName: String,
    small: Boolean,
  },

  computed: {
    buttonClasses() {
      return [ 'button-' + this.color, this.small ? 'button-small' : '' ]
    },
    iconSize() {
      return this.small ? '3' : '4'
    }
  },

  methods: {
    onClick() {
      if (this.loading || this.disabled) {
        return
      }

      if (this.routeName) {
        this.$inertia.visit(this.route(this.routeName))
      } else {
        this.$emit('click')
      }
    }
  },
};
</script>
