a {
  color: inherit;
  text-decoration: none;
}

input, select, textarea, button, div, a {
  &:focus, &:active {
    outline: none;
  }
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.shadow-brand {
  box-shadow: 0 0 0 1px theme('colors.brand.300');
}
