/******************************
* Variables for theming HAYAI *
*******************************/

:root {
    /* COLORS */
    --black: theme('colors.black');
    --white: theme('colors.white');

    --brand-100: #EBF8FF;
    --brand-200: #BEE3F8;
    --brand-300: #90CDF4;
    --brand-400: #63B3ED;
    --brand-500: #4299E1;
    --brand-600: #3182CE;
    --brand-700: #2B6CB0;
    --brand-800: #2C5282;
    --brand-900: #2A4365;

    --cta-100: #FFFAF0;
    --cta-200: #FEEBC8;
    --cta-300: #FBD38D;
    --cta-400: #F6AD55;
    --cta-500: #ED8936;
    --cta-600: #DD6B20;
    --cta-700: #ED8936;
    --cta-800: #9C4221;
    --cta-900: #7B341E;

    /* FONTS */
    --font-family-sans: 'Nunito';
    --font-family-serif: 'Noticia Text';

    /* BUTTONS */
    --buttons-rounded: theme('borderRadius.default');
    --buttons-x-padding: theme('padding.6');
    --buttons-y-padding: theme('padding.3');
    --buttons-x-padding-small: theme('padding.4');
    --buttons-y-padding-small: theme('padding.2');
    --buttons-font-family: theme('fontFamily.sans');
    --buttons-font-weight: theme('fontWeight.bold');

    /* Generated BUTTONS colors */
    --buttons-generate-colors: brand, cta, gray, green, red, yellow, outlined;

    --button-brand-bg-color: var(--brand-500);
    --button-brand-hover-color: var(--brand-600);
    --button-brand-text-color: var(--white);

    --button-cta-bg-color: var(--cta-500);
    --button-cta-hover-color: var(--cta-600);
    --button-cta-text-color: var(--white);

    --button-gray-bg-color: theme('colors.gray.500');
    --button-gray-hover-color: theme('colors.gray.600');
    --button-gray-text-color: var(--white);

    --button-green-bg-color: theme('colors.green.500');
    --button-green-hover-color: theme('colors.green.600');
    --button-green-text-color: var(--white);

    --button-red-bg-color: theme('colors.red.500');
    --button-red-hover-color: theme('colors.red.600');
    --button-red-text-color: var(--white);

    --button-yellow-bg-color: theme('colors.yellow.500');
    --button-yellow-hover-color: theme('colors.yellow.600');
    --button-yellow-text-color: theme('colors.gray.800');

    --button-outlined-bg-color: var(--white);
    --button-outlined-hover-color: theme('colors.gray.100');
    --button-outlined-text-color: theme('colors.gray.800');

    /* TOOLTIPS */
    --tooltip-border: theme('borderWidth.2');
    --tooltip-border-color: theme('colors.gray.700');
    --tooltip-rounded: theme('borderRadius.default');
    --tooltip-bg-color: theme('colors.gray.700');
    --tooltip-text-color: var(--white);

    /* Generated TOOLTIPS colors */
    --tooltips-generate-colors: brand, cta, green, red, yellow;

    --tooltip-brand-border-color: theme('colors.brand.600');
    --tooltip-brand-bg-color: theme('colors.brand.500');
    --tooltip-brand-text-color: var(--white);

    --tooltip-cta-border-color: theme('colors.cta.600');
    --tooltip-cta-bg-color: theme('colors.cta.500');
    --tooltip-cta-text-color: var(--white);

    --tooltip-green-border-color: theme('colors.green.600');
    --tooltip-green-bg-color: theme('colors.green.500');
    --tooltip-green-text-color: var(--white);

    --tooltip-red-border-color: theme('colors.red.600');
    --tooltip-red-bg-color: theme('colors.red.500');
    --tooltip-red-text-color: var(--white);

    --tooltip-yellow-border-color: theme('colors.yellow.500');
    --tooltip-yellow-bg-color: theme('colors.yellow.400');
    --tooltip-yellow-text-color: theme('colors.yellow.800');
}