<template>
<div class="flex justify-center">
  <h-icon v-if="checked"
    name="checkmark"
    class="text-center w-4 h-4 text-green-500"
  />
</div>
</template>

<script>
export default {
  props: {
    checked: Boolean,
  },
}
</script>
