<template>
<nav v-if="links.length > 3" class="pagination">
  <template v-for="(link, idx) in links">
    <template v-if="link.label === 'Previous'">
      <div v-if="link.url === null" :key="idx" class="pagination-button disabled">
        <h-icon name="chevron-left" size="6" />
      </div>
      <inertia-link v-else :key="idx"
        class="pagination-button"
        :class="{ 'active': link.active }"
        :href="link.url"
      >
        <h-icon name="chevron-left" size="6" />
      </inertia-link>
    </template>
    <template v-else-if="link.label === 'Next'">
      <div v-if="link.url === null" :key="idx" class="pagination-button disabled">
        <h-icon name="chevron-right" size="6" />
      </div>
      <inertia-link v-else :key="idx"
        class="pagination-button"
        :class="{ 'bg-white': link.active }"
        :href="link.url"
      >
        <h-icon name="chevron-right" size="6" />
      </inertia-link>
    </template>
    <template v-else>
      <div v-if="link.url === null" :key="idx" class="pagination-button disabled">{{ link.label }}</div>
      <inertia-link v-else :key="idx"
        class="pagination-button"
        :class="{ 'active': link.active }"
        :href="link.url"
      >
        {{ link.label }}
      </inertia-link>
    </template>
  </template>
</nav>
</template>

<script>
export default {
  name: 'HPagination',

  props: {
    links: Array,
  },
};
</script>
