<template>
<div class="flex items-center">
  <div :class="{'shadow-brand': focused, 'border-brand-300': focused, 'shadow': ! focused}"
    class="flex w-full bg-white rounded border border-transparent transition-all duration-300 ease-in-out"
  >
    <v-popover v-if="showFilter" popoverClass="white">
      <div class="tooltip-target cursor-pointer py-4 px-4 md:px-6 rounded-l
        border-r border-grey-light hover:bg-grey-lightest focus:border-white
        focus:shadow-outline focus:z-10">
        <div class="flex items-baseline">
          <span class="text-grey-darkest hidden md:inline">Filtro</span>
          <svg class="w-2 h-2 fill-grey-darker md:ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 961.243 599.998">
            <path d="M239.998 239.999L0 0h961.243L721.246 240c-131.999 132-240.28 240-240.624 239.999-.345-.001-108.625-108.001-240.624-240z" />
          </svg>
        </div>
      </div>
      <template slot="popover">
        <div class="w-screen"
          :style="{ maxWidth: `${maxWidth}px` }">
          <slot></slot>
        </div>
      </template>
    </v-popover>
    <h-input name="search"
      ref="search"
      v-model="search"
      @input="$emit('input', $event)"
      @focus="focused = true"
      @blur="focused = false"
      left-icon="search"
      :left-icon-class="['transition-opacity duration-300 ease-in-out', focused ? 'opacity-100' : 'opacity-50']"
      placeholder="Buscar… (Pulse '/' para activar)"
      autocomplete="off"
      class="flex-grow py-1 border-transparent"
      :class="{'rounded-l-none': showFilter}"
    />
  </div>
  <button @click="$emit('reset')"
    type="button"
    class="ml-3 text-sm text-gray-500 hover:text-gray-700 font-semibold">
    Limpiar
  </button>
</div>
</template>

<script>
import KeypressMixin from '../../mixins/ComponentKeypressMixin'

export default {
  name: 'HSearchResource',
  mixins: [ KeypressMixin ],

  props: {
    value: String,
    maxWidth: { type: Number, default: 300 },
    showFilter: { type: Boolean, default: true },
  },

  data() {
    return {
      search: '',
      focused: false,
    }
  },

  watch: {
    value: {
      handler(newValue) {
        this.search = newValue
      },
      immediate: true,
    },
  },

  methods: {
    handleKeypress(e) {
      // Focus with '/'
      if (e.keyCode === 47) {
        this.$refs.search.focus()
        e.preventDefault()
      }
    },
    handleKeydown(e) {
      // Reset on ESC
      if ((e.keyCode === 27) &&
        (this.$refs.search.$refs.input === window.document.activeElement)) {
        this.search = ''
        this.$emit('input', '')
      }
    },
  },

};
</script>
