<template>
<!-- DM: este DIV es necesario como wrapper para el tooltip  -->
<div @click="$emit('click')" class="relative" :class="clickableClasses">
<svg xmlns="http://www.w3.org/2000/svg"
  :viewBox="viewBox"
  :aria-labelledby="name"
  role="presentation"
  :class="[ iconSize, iconColor ]"
>
  <path v-if="name === 'add-solid'" d="M11 9V5H9v4H5v2h4v4h2v-4h4V9h-4zm-1 11a10 10 0 1 1 0-20 10 10 0 0 1 0 20z"/>
  <path v-else-if="name === 'annonuncement'" d="M3 6c0-1.1.9-2 2-2h8l4-4h2v16h-2l-4-4H5a2 2 0 0 1-2-2H1V6h2zm8 9v5H8l-1.67-5H5v-2h8v2h-2z"/>
  <path v-else-if="name === 'arrow-thin-left'" d="M3.828 9l6.071-6.071-1.414-1.414L0 10l.707.707 7.778 7.778 1.414-1.414L3.828 11H20V9H3.828z"/>
  <path v-else-if="name === 'arrow-thin-right'" d="M16.172 9l-6.071-6.071 1.414-1.414L20 10l-.707.707-7.778 7.778-1.414-1.414L16.172 11H0V9z"/>
  <path v-else-if="name === 'book'" d="M6 4H5a1 1 0 1 1 0-2h11V1a1 1 0 0 0-1-1H4a2 2 0 0 0-2 2v16c0 1.1.9 2 2 2h12a2 2 0 0 0 2-2V5a1 1 0 0 0-1-1h-7v8l-2-2-2 2V4z"/>
  <path v-else-if="name === 'calendar'" d="M1 4c0-1.1.9-2 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4zm2 2v12h14V6H3zm2-6h2v2H5V0zm8 0h2v2h-2V0zM5 9h2v2H5V9zm0 4h2v2H5v-2zm4-4h2v2H9V9zm0 4h2v2H9v-2zm4-4h2v2h-2V9zm0 4h2v2h-2v-2z"/>
  <path v-else-if="name === 'checkmark'" d="M0 11l2-2 5 5L18 3l2 2L7 18z"/>
  <path v-else-if="name === 'checkmark-outline'" d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM6.7 9.29L9 11.6l4.3-4.3 1.4 1.42L9 14.4l-3.7-3.7 1.4-1.42z"/>
  <path v-else-if="name === 'chevron-down'" d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
  <path v-else-if="name === 'chevron-left'" d="M7.05 9.293L6.343 10 12 15.657l1.414-1.414L9.172 10l4.242-4.243L12 4.343z"/>
  <polygon v-else-if="name === 'chevron-right'" points="12.95 10.707 13.657 10 8 4.343 6.586 5.757 10.828 10 6.586 14.243 8 15.657 12.95 10.707"/>
  <path v-else-if="name === 'chevron-up'" d="M10.707 7.05L10 6.343 4.343 12l1.414 1.414L10 9.172l4.243 4.242L15.657 12z"/>
  <path v-else-if="name === 'code'" d="M.7 9.3l4.8-4.8 1.4 1.42L2.84 10l4.07 4.07-1.41 1.42L0 10l.7-.7zm18.6 1.4l.7-.7-5.49-5.49-1.4 1.42L17.16 10l-4.07 4.07 1.41 1.42 4.78-4.78z"/>
  <path v-else-if="name === 'close'" d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z"/>
  <path v-else-if="name === 'close-outline'" d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm1.41-1.41A8 8 0 1 0 15.66 4.34 8 8 0 0 0 4.34 15.66zm9.9-8.49L11.41 10l2.83 2.83-1.41 1.41L10 11.41l-2.83 2.83-1.41-1.41L8.59 10 5.76 7.17l1.41-1.41L10 8.59l2.83-2.83 1.41 1.41z"/>
  <path v-else-if="name === 'cog'" d="M3.94 6.5L2.22 3.64l1.42-1.42L6.5 3.94c.52-.3 1.1-.54 1.7-.7L9 0h2l.8 3.24c.6.16 1.18.4 1.7.7l2.86-1.72 1.42 1.42-1.72 2.86c.3.52.54 1.1.7 1.7L20 9v2l-3.24.8c-.16.6-.4 1.18-.7 1.7l1.72 2.86-1.42 1.42-2.86-1.72c-.52.3-1.1.54-1.7.7L11 20H9l-.8-3.24c-.6-.16-1.18-.4-1.7-.7l-2.86 1.72-1.42-1.42 1.72-2.86c-.3-.52-.54-1.1-.7-1.7L0 11V9l3.24-.8c.16-.6.4-1.18.7-1.7zM10 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
  <path v-else-if="name === 'dashboard'" d="M10 20a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm-5.6-4.29a9.95 9.95 0 0 1 11.2 0 8 8 0 1 0-11.2 0zm6.12-7.64l3.02-3.02 1.41 1.41-3.02 3.02a2 2 0 1 1-1.41-1.41z"/>
  <path v-else-if="name === 'duplicate'" d="M6 6V2c0-1.1.9-2 2-2h10a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-4v4a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8c0-1.1.9-2 2-2h4zm2 0h4a2 2 0 0 1 2 2v4h4V2H8v4zM2 8v10h10V8H2zm4 4v-2h2v2h2v2H8v2H6v-2H4v-2h2z"/>
  <path v-else-if="name === 'download'" d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/>
  <path v-else-if="name === 'edit-pencil'" d="M12.3 3.7l4 4L4 20H0v-4L12.3 3.7zm1.4-1.4L16 0l4 4-2.3 2.3-4-4z"/>
  <path v-else-if="name === 'exclamation-solid'" d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zM9 5v6h2V5H9zm0 8v2h2v-2H9z"/>
  <path v-else-if="name === 'eye'" d="m31.5225 61.3092849c-1.838-1.066-3.51-2.179-4.966-3.239-4.112-2.995-7.207-6.024-8.797-7.692 1.59-1.668 4.685-4.696 8.797-7.691 2.666-1.942 6.044-4.059 9.88-5.734-3.407 3.458-5.514 8.199-5.514 13.425 0 3.354.869 6.507 2.39 9.251l3.068-2.879c-.906-1.937-1.415-4.096-1.415-6.372 0-8.325 6.773-15.098 15.099-15.098 2.617 0 5.08.67 7.228 1.846l5.293-4.966c-4.249-1.54-8.461-2.336-12.521-2.336-8.345 0-17.326 3.339-25.972 9.655-6.461 4.722-10.448 9.397-10.614 9.593-.638.754-.638 1.859 0 2.613.166.196 4.153 4.871 10.614 9.592 1.446 1.057 2.902 2.022 4.362 2.911zm55.128-12.237c-.166-.197-4.152-4.871-10.614-9.593-1.446-1.056-2.902-2.022-4.362-2.91l-3.068 2.879c1.838 1.066 3.51 2.179 4.966 3.239 4.112 2.995 7.206 6.023 8.796 7.691-1.59 1.668-4.684 4.697-8.796 7.692-2.666 1.941-6.045 4.059-9.881 5.734 3.407-3.457 5.515-8.199 5.515-13.426 0-3.353-.869-6.506-2.39-9.25l-3.068 2.879c.906 1.937 1.414 4.095 1.414 6.371 0 8.326-6.773 15.099-15.098 15.099-2.617 0-5.08-.67-7.229-1.847l-5.292 4.967c4.249 1.539 8.461 2.336 12.521 2.336 8.345 0 17.326-3.339 25.972-9.656 6.462-4.721 10.448-9.395 10.614-9.592.638-.754.638-1.859 0-2.613zm-36.586 10.741c5.21 0 9.435-4.224 9.435-9.435 0-.739-.094-1.455-.255-2.145l-11.91 11.176c.865.261 1.78.404 2.73.404zm-9.435-9.435c0 .74.094 1.456.255 2.146l11.909-11.176c-.864-.261-1.78-.404-2.729-.404-5.211 0-9.435 4.224-9.435 9.434zm31.877-23.831-47.651 44.714c-.814.764-.855 2.044-.091 2.858.398.424.936.638 1.475.638.496 0 .992-.181 1.383-.547l47.65-44.714c.814-.765.855-2.044.091-2.858s-2.042-.855-2.857-.091z"/>
  <path v-else-if="name === 'eye-no'" d="m86.6505 48.248c-.166-.197-4.152-4.871-10.614-9.593-8.646-6.316-17.627-9.655-25.972-9.655s-17.326 3.339-25.972 9.655c-6.461 4.722-10.448 9.396-10.614 9.593-.638.754-.638 1.859 0 2.613.166.197 4.153 4.871 10.614 9.592 8.646 6.317 17.627 9.656 25.972 9.656s17.326-3.339 25.972-9.656c6.462-4.721 10.448-9.395 10.614-9.592.638-.754.638-1.859 0-2.613zm-60.094 8.998c-4.112-2.994-7.205-6.023-8.795-7.69 2.685-2.812 9.667-9.498 18.694-13.446-3.418 3.459-5.533 8.209-5.533 13.444 0 5.227 2.108 9.969 5.515 13.426-3.836-1.675-7.214-3.792-9.881-5.734zm23.508 7.407c-8.325 0-15.098-6.773-15.098-15.099 0-8.325 6.773-15.098 15.098-15.098s15.098 6.773 15.098 15.098c0 8.326-6.773 15.099-15.098 15.099zm23.508-7.407c-2.666 1.942-6.045 4.059-9.881 5.734 3.407-3.457 5.515-8.199 5.515-13.426 0-5.226-2.108-9.968-5.515-13.425 3.836 1.675 7.215 3.792 9.881 5.734 4.112 2.995 7.206 6.023 8.796 7.691-1.59 1.669-4.684 4.697-8.796 7.692zm-18.79-10.311c-2.02 0-3.657-1.638-3.657-3.657 0-1.145.526-2.165 1.349-2.836-.771-.203-1.576-.322-2.41-.322-5.21 0-9.434 4.224-9.434 9.434 0 5.211 4.224 9.435 9.434 9.435 5.211 0 9.435-4.224 9.435-9.435 0-1.774-.499-3.428-1.351-4.846-.557 1.309-1.854 2.227-3.366 2.227z"/>
  <path v-else-if="name === 'hand-stop'" d="M17 16a4 4 0 0 1-4 4H7a4 4 0 0 1-4-4.01V4a1 1 0 0 1 1-1 1 1 0 0 1 1 1v6h1V2a1 1 0 0 1 1-1 1 1 0 0 1 1 1v8h1V1a1 1 0 1 1 2 0v9h1V2a1 1 0 0 1 1-1 1 1 0 0 1 1 1v13h1V9a1 1 0 0 1 1-1h1v8z"/>
  <path v-else-if="name === 'home'" d="M8 20H3V10H0L10 0l10 10h-3v10h-5v-6H8v6z"/>
  <path v-else-if="name === 'inbox-check'" d="M0 2C0 .9.9 0 2 0h16a2 2 0 0 1 2 2v16a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm14 12h4V2H2v12h4c0 1.1.9 2 2 2h4a2 2 0 0 0 2-2zM5 9l2-2 2 2 4-4 2 2-6 6-4-4z"/>
  <path v-else-if="name === 'inbox-download'" d="M0 2C0 .9.9 0 2 0h16a2 2 0 0 1 2 2v16a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm14 12h4V2H2v12h4c0 1.1.9 2 2 2h4a2 2 0 0 0 2-2zM9 8V5h2v3h3l-4 4-4-4h3z"/>
  <path v-else-if="name === 'information-solid'" d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zM9 11v4h2V9H9v2zm0-6v2h2V5H9z"/>
  <path v-else-if="name === 'load-balancer'" d="M17 12h-6v4h1v4H8v-4h1v-4H3v4h1v4H0v-4h1v-4a2 2 0 0 1 2-2h6V6H7V0h6v6h-2v4h6a2 2 0 0 1 2 2v4h1v4h-4v-4h1v-4z" />
  <path v-else-if="name === 'location'" d="M10 20S3 10.87 3 7a7 7 0 1 1 14 0c0 3.87-7 13-7 13zm0-11a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
  <path v-else-if="name === 'minus-outline'" d="M10 20a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm5-9v2H5V9h10z"/>
  <path v-else-if="name === 'minus-solid'" d="M10 20a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm5-11H5v2h10V9z"/>
  <path v-else-if="name === 'mood-happy-outline'" d="M10 20a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zM6.5 9a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm7 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm2.16 3a6 6 0 0 1-11.32 0h11.32z"/>
  <path v-else-if="name === 'mood-neutral-outline'" d="M10 20a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zM6.5 9a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm7 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zM7 13h6a1 1 0 0 1 0 2H7a1 1 0 0 1 0-2z"/>
  <path v-else-if="name === 'mood-sad-outline'" d="M10 20a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zM6.5 9a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm7 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm2.16 6H4.34a6 6 0 0 1 11.32 0z"/>
  <path v-else-if="name === 'notification'" d="M4 8a6 6 0 0 1 4.03-5.67 2 2 0 1 1 3.95 0A6 6 0 0 1 16 8v6l3 2v1H1v-1l3-2V8zm8 10a2 2 0 1 1-4 0h4z"/>
  <path v-else-if="name === 'photo'" d="M0 4c0-1.1.9-2 2-2h16a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm11 9l-3-3-6 6h16l-5-5-2 2zm4-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
  <path v-else-if="name === 'portfolio'" d="M9 12H1v6a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-6h-8v2H9v-2zm0-1H0V5c0-1.1.9-2 2-2h4V2a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v1h4a2 2 0 0 1 2 2v6h-9V9H9v2zm3-8V2H8v1h4z"/>
  <path v-else-if="name === 'printer'" d="M4 16H0V6h20v10h-4v4H4v-4zm2-4v6h8v-6H6zM4 0h12v5H4V0zM2 8v2h2V8H2zm4 0v2h2V8H6z"/>
  <path v-else-if="name === 'question'" d="M10 20a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm2-13c0 .28-.21.8-.42 1L10 9.58c-.57.58-1 1.6-1 2.42v1h2v-1c0-.29.21-.8.42-1L13 9.42c.57-.58 1-1.6 1-2.42a4 4 0 1 0-8 0h2a2 2 0 1 1 4 0zm-3 8v2h2v-2H9z"/>
  <path v-else-if="name === 'search'" d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
  <path v-else-if="name === 'share'" d="M4 10c0-1.1.9-2 2-2h8c1.1 0 2 .9 2 2v8c0 1.1-.9 2-2 2H6c-1.1 0-2-.9-2-2v-8zm2 0v8h8v-8h-2V8H8v2H6zm3-6.17V16h2V3.83l3.07 3.07 1.42-1.41L10 0l-.7.7-4.8 4.8 1.42 1.4L9 3.84z"/>
  <path v-else-if="name === 'shield'" d="M19 11a7.5 7.5 0 0 1-3.5 5.94L10 20l-5.5-3.06A7.5 7.5 0 0 1 1 11V3c3.38 0 6.5-1.12 9-3 2.5 1.89 5.62 3 9 3v8zm-9 1.08l2.92 2.04-1.03-3.41 2.84-2.15-3.56-.08L10 5.12 8.83 8.48l-3.56.08L8.1 10.7l-1.03 3.4L10 12.09z"/>
  <path v-else-if="name === 'shopping-cart'" d="M4 2h16l-3 9H4a1 1 0 1 0 0 2h13v2H4a3 3 0 0 1 0-6h.33L3 5 2 2H0V0h3a1 1 0 0 1 1 1v1zm1 18a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm10 0a2 2 0 1 1 0-4 2 2 0 0 1 0 4z" />
  <path v-else-if="name === 'stand-by'" fill-rule="evenodd" d="M4.16 4.16l1.42 1.42A6.99 6.99 0 0 0 10 18a7 7 0 0 0 4.42-12.42l1.42-1.42a9 9 0 1 1-11.69 0zM9 0h2v8H9V0z"/>
  <path v-else-if="name === 'store-front'" d="M18 9.87V20H2V9.87a4.25 4.25 0 0 0 3-.38V14h10V9.5a4.26 4.26 0 0 0 3 .37zM3 0h4l-.67 6.03A3.43 3.43 0 0 1 3 9C1.34 9 .42 7.73.95 6.15L3 0zm5 0h4l.7 6.3c.17 1.5-.91 2.7-2.42 2.7h-.56A2.38 2.38 0 0 1 7.3 6.3L8 0zm5 0h4l2.05 6.15C19.58 7.73 18.65 9 17 9a3.42 3.42 0 0 1-3.33-2.97L13 0z"/>
  <path v-else-if="name === 'thumbs-up'" d="M11 0h1v3l3 7v8a2 2 0 0 1-2 2H5c-1.1 0-2.31-.84-2.7-1.88L0 12v-2a2 2 0 0 1 2-2h7V2a2 2 0 0 1 2-2zm6 10h3v10h-3V10z"/>
  <path v-else-if="name === 'thumbs-down'" d="M11 20a2 2 0 0 1-2-2v-6H2a2 2 0 0 1-2-2V8l2.3-6.12A3.11 3.11 0 0 1 5 0h8a2 2 0 0 1 2 2v8l-3 7v3h-1zm6-10V0h3v10h-3z"/>
  <path v-else-if="name === 'trash'" d="M6 2l2-2h4l2 2h4v2H2V2h4zM3 6h14l-1 14H4L3 6zm5 2v10h1V8H8zm3 0v10h1V8h-1z"/>
  <path v-else-if="name === 'upload'" d="M13 10v6H7v-6H2l8-8 8 8h-5zM0 18h20v2H0v-2z"/>
  <path v-else-if="name === 'user'" d="M5 5a5 5 0 0 1 10 0v2A5 5 0 0 1 5 7V5zM0 16.68A19.9 19.9 0 0 1 10 14c3.64 0 7.06.97 10 2.68V20H0v-3.32z"/>
  <path v-else-if="name === 'users'" d="M7 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm0 1c2.15 0 4.2.4 6.1 1.09L12 16h-1.25L10 20H4l-.75-4H2L.9 10.09A17.93 17.93 0 0 1 7 9zm8.31.17c1.32.18 2.59.48 3.8.92L18 16h-1.25L16 20h-3.96l.37-2h1.25l1.65-8.83zM13 0a4 4 0 1 1-1.33 7.76 5.96 5.96 0 0 0 0-7.52C12.1.1 12.53 0 13 0z"/>
  <path v-else-if="name === 'user-solid-circle'" d="M10 20a10 10 0 1 1 0-20 10 10 0 0 1 0 20zM7 6v2a3 3 0 1 0 6 0V6a3 3 0 1 0-6 0zm-3.65 8.44a8 8 0 0 0 13.3 0 15.94 15.94 0 0 0-13.3 0z"/>
  <path v-else-if="name === 'user-solid-square'" d="M0 2C0 .9.9 0 2 0h16a2 2 0 0 1 2 2v16a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm7 4v2a3 3 0 1 0 6 0V6a3 3 0 1 0-6 0zm11 9.14A15.93 15.93 0 0 0 10 13c-2.91 0-5.65.78-8 2.14V18h16v-2.86z"/>
  <path v-else-if="name === 'view-column'" d="m12 4h-4v12h4zm2 0v12h4v-12zm-8 0h-4v12h4zm-6-2h20v16h-20z"/>
  <path v-else-if="name === 'view-show'" d="M.2 10a11 11 0 0 1 19.6 0A11 11 0 0 1 .2 10zm9.8 4a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm0-2a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"/>
  <path v-else-if="name === 'watch'" d="M11 9h2v2H9V7h2v2zm-5.82 6.08a6.98 6.98 0 0 1 0-10.16L6 0h8l.82 4.92a6.98 6.98 0 0 1 0 10.16L14 20H6l-.82-4.92zM10 15a5 5 0 1 0 0-10 5 5 0 0 0 0 10z"/>
  <path v-else-if="name === 'zoom-in'" d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12zM7 7V5h2v2h2v2H9v2H7V9H5V7h2z"/>
</svg>
</div>
</template>

<script>
import HasTooltip from '../tooltip/HasTooltip'

export default {
  name: 'HIcon',

  mixins: [ HasTooltip ],

  props: {
    name: String,
    size: { type: String, default: '4' },
    color: { type: String },
  },

  computed: {
    iconSize() {
      return ['w-' + this.size, 'h-' + this.size]
    },
    iconColor() {
      return [this.color ? 'fill-' + this.color : 'fill-current']
    },
    viewBox() {
      if (this.name === 'eye' || this.name === 'eye-no') {
        return '0 0 100 100'
      }
      return '0 0 20 20'
    },
    hasClickListener() {
      return this.$listeners.click || this.$listeners['!click'] || this.tt
    },
    clickableClasses() {
      if (this.hasClickListener) {
        return [ 'cursor-pointer', 'hover:opacity-75' ]
      }
    }
  },
};
</script>
