<template>
<h-field :field="field"
  :label="label"
  :control-id="id"
  :errors="errors"
  :error-message="errorMessage"
>
  <h-input :id="id"
    ref="input"
    v-bind="$attrs"
    v-on="listeners"
    :field="field"
    :type="type"
    :value="value"
    @input="onInput"
  />
</h-field>
</template>

<script>
import FormFieldMixin from '../../mixins/FormFieldMixin'

export default {
  name: 'HInputField',
  mixins: [ FormFieldMixin ],

  props: {
    type: {
      type: String,
      default: 'text',
      validator: value => {
        return value === 'text' || value === 'textarea' || value === 'password' || value === 'number'
      }
    },
  },

  methods: {
    focus() {
      this.$refs.input.focus()
    },
    select() {
      this.$refs.input.select()
    },
    setSelectionRange(start, end) {
      this.$refs.input.setSelectionRange(start, end)
    },
  },

};
</script>
