<template>
<div>
  <textarea v-if="inputType === 'textarea'"
    :id="id"
    ref="input"
    :value="internalValue"
    v-bind="$attrs"
    @input="onInput"
    v-on="listeners"
    :rows="rows"
    class="textarea"
    :class="inputClasses" />
  <div v-else class="relative flex items-center">
    <h-icon v-if="leftIcon"
      :name="leftIcon"
      :class="leftIconClass"
      class="ml-2"
    />
    <input :id="id"
      ref="input"
      v-bind="$attrs"
      class="input"
      :class="inputClasses"
      :type="inputType"
      :value="internalValue"
      @input="onInput"
      @keypress="onKeypress"
      @focus="onFocus"
      @blur="onBlur"
      >
    <div class="absolute m-auto top-0 h-full right-0">
      <h-icon v-if="type === 'password'"
        :name="isShowingPassword ? 'eye': 'eye-no'"
        @click="revealPassword"
        :color="isShowingPassword ? 'red-500' : 'gray-500'"
        size="8"
        class="mr-1"
        :tt="isShowingPassword ? 'Ocultar la contraseña' : 'Mostrar la contraseña'"
      />
      <div v-if="loading" class="spinner m-text-input-icon" />
      <slot v-if="! loading" name="right-icon" class=""></slot>
    </div>
  </div>
</div>
</template>

<script>
import FormInputMixin from '../../mixins/FormInputMixin'

export default {
  name: 'HInput',
  mixins: [ FormInputMixin ],

  props: {
    id: { type: String, default() { return `h-input-${this._uid}` } },
    type: {
      type: String,
      default: 'text',
      validator: value => {
        return value === 'text' || value === 'textarea' || value === 'password' || value === 'number'
      }
    },
    align: { type: String, default: 'left' },
    autofocus: Boolean,
    rows: { type: Number, default: 4 },
    loading: Boolean,
    allowedChars: String,
    uppercase: Boolean,
    lowercase: Boolean,
    leftIcon: String,
    leftIconClass: [ String, Array, Object ]
  },

  data() {
    return {
      inputType: 'text',
      focused: false,
      keyCodesAllowed: [],
    }
  },

  computed: {
    inputClasses() {
      var classes = [ 'text-'+this.align ]

      if (this.type === 'password' ||
          this.loading ||
          this.$slots['right-icon']) {
        classes.push('pr-8')
      }

      return classes
    },
    isShowingPassword() {
      return (this.type === 'password') && (this.inputType === 'text')
    },
  },

  mounted() {
    this.inputType = this.type
    if (this.autofocus) {
      this.focus()
    }
    if (this.allowedChars) {
      this.generareKeyCodes()
    }
  },

  methods: {
    onInput(event) {
      if (this.uppercase) {
        event.target.value = event.target.value.toUpperCase()
      }
      if (this.lowercase) {
        event.target.value = event.target.value.toLowerCase()
      }
      this.$emit('input', event.target.value)
      if (this.__form) {
        this.__form[this.field] = event.target.value
      }
      this.internalValue = event.target.value
    },
    onKeypress(event) {
      if (! this.allowedChars) {
        return
      }
      var keyCode = event.keyCode
      if (this.uppercase || this.lowercase) {
        let s = String.fromCharCode(keyCode)
        s = this.uppercase ? s.toUpperCase() : s.toLowerCase()
        keyCode = s.charCodeAt()
      }

      if (! _.includes(this.keyCodesAllowed, keyCode)) {
        event.preventDefault()
        return
      }
    },
    onFocus() {
      this.focus()
      this.focused = true
      this.$emit('focus')
    },
    onBlur() {
      this.focused = false
      this.$emit('blur')
    },
    focus() {
      this.$refs.input.focus()
    },
    select() {
      this.$refs.input.select()
    },
    setSelectionRange(start, end) {
      this.$refs.input.setSelectionRange(start, end)
    },
    revealPassword() {
      this.inputType = (this.inputType === 'text') ? 'password' : 'text'
    },
    generareKeyCodes() {
      this.keyCodesAllowed = []
      for (var i = 0; i < this.allowedChars.length; i++) {
        this.keyCodesAllowed.push(this.allowedChars.charCodeAt(i))
      }
    }
  },

};
</script>
